.for-sales-reps {
  padding-top: 140px;
  padding-bottom: 120px;
}
.for-sales-managers {
  padding-top: 140px;
  padding-bottom: 120px;
  background-color: #f5f8fb;
}
.for-sales-operations {
  padding-top: 140px;
  padding-bottom: 120px;
}
.for-sales-professionals {
  padding-top: 140px;
  padding-bottom: 120px;
  background-color: #f5f8fb;
}
.for-salesforce-admins {
  padding-top: 140px;
  padding-bottom: 120px;
}
@media(max-width:991px) {
  .for-sales-reps {
    padding-top: 40px;
    padding-bottom: 0;
  }
  .for-sales-operations,.for-sales-professionals,.for-sales-managers {
    padding-top: 0;
    padding-bottom: 0;
  }
  .for-salesforce-admins {
    padding-top: 0;
    padding-bottom: 0;
  }
}