.blog-info-section {
  .blog-container {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    .img-block {
      display: block;
      img {
        height: 204px;
      }
    }
    .info-text {
      color: #547697;
      font-size: 12px;
      font-weight: 700;
      line-height: 50px;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    .blog-title {
      display: block;
      color: #023358;
      font-size: 23px;
      font-weight: 400;
      line-height: 27px;
      margin-bottom: 20px;
    }
    .text {

    }
  }
}