.what-is-scc {
  background-color: #f5f8fb;
  background-color: rgb(244, 245, 250);
  padding-top: 80px;
  padding-bottom: 80px;
  .anim-status-block {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffffff;
    padding: 25px 25px 25px 75px;
    margin-bottom: 40px;
    transition: 0.5s all;
    position: relative;
    cursor: pointer;
    &.active {
      box-shadow: 0 8px 65px rgba(115, 136, 151, 0.35);
      transform: translateX(20px);
      @media(max-width:991px) {
        transform: translateX(15px);
      }
    }
    @media(max-width:991px) {
      padding: 5px 25px 5px 25px;
      margin-bottom: 10px;
    }
    .line {
      background-color: #cbd9e5;
      height: 2px;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      span {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 2px;
        background-color: #37a148;
      }
    }

    .status-icon {
      position: absolute;
      left: 25px;
      top: 25px;
      height: 32px;
      width: auto;
      @media(max-width:991px) {
        display: none;
      }
    }

    .status-title {
      font-size: 19px;
      color: #023358;
      line-height: 31px;
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 700;
    }
    .status-text {
      color: #055492;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      margin-bottom: 0;
      @media(max-width:991px) {
        font-size: 14px;
        line-height: 17px;
        max-height: 34px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .learn-more-link {
    color: #37a148;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
    transition: 0.3s all;
    .fa {
      transition: 0.3s transform;
    }
    &:hover {
      color: #297335;
      .fa {
        transform: translateX(10px);
      }
    }
  }

  .what_is_scc_anim {
    //display: inline-block;
    position: relative;
    text-align: center;

    .enterprise_scheduling,.window_to_salesforce,.data_sync {
      display: none!important;
      &.show {
        display: inline-block!important;
      }
    }

    .data_sync {
      display: inline-block;
      position: relative;
      img {
        width: 300px;
      }
    }
    .window_to_salesforce {
      display: inline-block;
      position: relative;
      .stage {
        position: absolute;
        transition: 0.5s all;
        right: 5%;
        top: 12%;
        max-width: 29%;
        opacity: 0;
        &.one {}
        &.two {}
      }
      .click {
        &.one {
          bottom: 79%;
          right: 7.3%;
        }
        &.two {
          bottom: 24%;
          right: 13%;
        }
      }
    }


    .enterprise_scheduling {
      position: relative;
      display: inline-block;
      .stage {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        &.one {

        }
        &.two {

        }
      }
      .click {
        &.one {
          bottom: 13%;
          right: 41%;
        }
        &.two {
          bottom: 8%;
          right: 20.5%;
        }
      }
      .img-message {
        position: absolute;
        left: 20%;
        max-width: 69%;
        display: none;
        &.first {
          top: 37.3%;
        }
        &.second {
          top: 63%;
        }
      }
    }

  }
}