@color-1: #ffffff;
@color-2: #000000;
@color-3: #023358;
@color-4: #055492;
@color-5: #37a148;

html {
  overflow: unset!important;
}

.navbar-scc-height-fix {
  height: 77px;
}
body.show-scc-navbar {
  @media(max-width:991px) {
    overflow: hidden!important;
  }
  .navbar-scc {
    .collapse-scc{
      opacity: 1;
      pointer-events: inherit;
    }
    .scc-bg {
      &:before {
        width: 3000px;
        height: 3000px;
        top: -1500px;
        right: -1500px;
      }
    }
  }
}
.load .navbar-scc ul.menu-scc li.menu-item .menu-link {
  opacity: unset;
}
.navbar-scc {
  box-shadow: 0 5px 39px rgba(115, 136, 151, 0.15);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99997;
  display: block;
  .navbar-container {
    max-width: 1370px;
    margin-right: auto;
    margin-left: auto;
  }
  .navbar-scc-header {
    display: inline-block;
    float: left;
    @media(max-width:991px) {
      float:none;
    }
    .navbar-scc-brand {
      line-height: 77px;
      height: 77px;
      img {
        height: 51px;
      }
    }
  }
  .scc-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    @media(min-width:992px) {
      display: none;
    }
    &:before {
      content: "";
      outline: none;
      display: block;
      position: absolute;
      z-index: 1;
      background-color: #fff;
      border-radius: 100%;
      transition: all 0.45s;
      top: 28px;
      right: 20px;
      width: 40px;
      height: 40px;
    }
  }
  .collapse-scc {
    display: block;
    text-align: right;
    height: 77px;
    margin: 0 -15px;
    @media(max-width:991px) {
      display: none;
      position: fixed;
      height: auto;
      z-index: 1000;
      overflow: scroll!important;
      background: transparent;
      padding: 0 25px 25px;
      top: 77px;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s  ease;
      text-align: left;
    }
  }
  ul.menu-scc {
    display: inline-block;
    float: none;
    margin: 0;
    list-style: none;
    padding-left: 0;
    @media(max-width:991px) {
      display: block;
    }
    @media(min-width:992px) {
      width: 70%;
    }
    @media(min-width:1200px) {
      width: 65%;
    }
    li.menu-item {
      position: static;
      border-bottom: 4px solid transparent;
      float: left;
      display: block;
      @media(max-width:991px) {
        float: none;
        position: relative;
        display: block;
        width: 100%;
        border-bottom: 1px solid #eaecee;
      }
      &:hover {
        background-color: transparent;
        &>a {
          background-color: transparent;
        }
        @media(min-width:992px) {
          border-bottom: 4px solid #37a148;
          .sub-menu-drop {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      &.no-border {
        @media(min-width:992px) {
          border-bottom: 4px solid transparent!important;
        }
      }
      &.fusion-menu-item-button {
        @media(min-width:992px) {
          float: right;
          margin-right: 15px;
        }
      }
      &.open {
        &:hover {
          &>a.menu_drop_trigger {
            //background-color: transparent;
          }
        }
        ul.sub-menu-drop {
          max-height: 160em;
          @media(max-width:480px) {
            .col-xs-6 {

            }
          }
        }
      }
      .menu-button {
        line-height: 73px;
      }
      .menu-link {
        color: #023358;
        line-height: 73px;
        padding: 0 15px;
        text-decoration: none;
        outline: none;
        font-size: 15px;
        font-weight: 500;
        opacity: 0;
        cursor: pointer;
        display: inline-block;
        &:hover {
          background-color: transparent;
        }
        @media(max-width:991px) {
          font-size: 22px;
        }
      }
      .menu_drop_trigger {
        @media(min-width:992px) {
          display: none;
        }
        position: absolute;
        right: 0;
        top: 0;
        line-height: 73px;
        padding: 0 15px;
        &:hover {
          //background-color: fade(#023358, 40);
        }
      }
      ul.sub-menu-drop {
        @media(max-width:991px) {
          position: relative;
          padding: 0;
          overflow: hidden;
          transition: max-height .5s ease;
          max-height: 0;
        }
        @media(min-width:992px) {
          opacity: 0;
          visibility: hidden;
          box-shadow: 0 5px 39px rgba(115, 136, 151, 0.1);
          background-color: #fff;
          position: absolute;
          left: 0;
          right:0;
          top: 77px;
          padding: 25px 0;
        }
        list-style: none;
        margin: 0;
        transition: 0.3s all;
        text-align: left;
        li.sub-item {

        }
      }
    }
  }
  .menu-sub-title {
    margin: 0;
    color: #023358;
    font-size: 19px;
    font-weight: 700;
    line-height: 42px;
    text-decoration: none;
    outline: none;
    @media(max-width: 480px) {
      display: inline-block;
      margin-top: 15px;
      margin-bottom: -5px;
    }
  }
  .menu-sub-link {
    display: block;
    color: #055492;
    line-height: 34px;
    text-decoration: none;
    outline: none;
    font-size: 15px;
    &:hover {
      opacity: 0.8;
    }
  }
  .menu-seporate {
    margin-top: 10px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #eaecee;
  }
  #menu-btn {
    display: none;
    float: right;
    padding: 9px 10px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    //width: 24px;
    //height: 18px;
    width: 28px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    margin: 0;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 991px) {
      display: block;
    }
  &:not(.collapsed) {
      span {
        background-color:@color-3;
        &#bar-1 {
          top: 9px;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        &#bar-2 {
          opacity: 0;
        }
        &#bar-3 {
          top: 9px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
    span {
      position: absolute;
      left: 0;
      width: 24px;
      height: 4px;
      background-color: @color-3;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      &#bar-1 {
        top: 0;
      }
      &#bar-2 {
        top: 7px;
      }
      &#bar-3 {
        top: 14px;
      }
    }
  }
}
.fusion-menu-item-button .menu-text {
  background-color: #37a148;
  color: #ffffff;
  border-radius: 2px;
  border: 1px solid #37a148;
  text-transform: uppercase;
  padding: 7px 23px;
}
.menu-search {
  position: relative!important;
  margin-left: 15px;
  margin-right: 15px;
  @media(min-width:992px) {
    float: right!important;
  }
  .fusion-main-menu-icon {
    font-family: FontAwesome;
    cursor: pointer;
    &:after {
      border-radius: 50%;
      content: '\f002';
      height: 15px;
      width: 15px;
      color: #29639a;
    }
    &:hover {
      &:after {
        color: #023358;
      }
    }
  }
  .fusion-custom-menu-item-contents {
    display: none;
    width: 250px;
    padding: 0;
    text-align: right;
    border: 0;
    top: 48%;
    transform: translateY(-50%);
    right: -13px;
    background: 0 0!important;
    position: absolute;
    left: auto;
    transition: opacity .2s ease-in;
    @media(max-width:991px) {
      display: block!important;
      width: 95%;
      right: 5%;
    }
  }
  .searchform {
    margin: 0;
    padding: 0;
    .search-field input {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      line-height: 33px;
      height: 33px;
      border-color: #d2d2d2;
      background-color: #fff;
      padding-top: 0;
      padding-bottom: 0;
    }
    .search-button input[type="submit"] {
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      line-height: 33px;
      height: 33px;
      background: #055492;
      &:hover {
        background: #37a148;
      }
    }
  }
}