.form-sales2 {
  padding-bottom: 50px;
  padding-top: 160px;
  margin-top: -1px;
  background-image: url(../../sales-expert-background-rock.png);
  background-size: cover;
  background-position: 50% 50%;
    .img-block.bottom {
      margin-bottom: -130px;
      img {

      }
    }

}
