.preview-pdf {
  .preview-iframe-wrap {
    //overflow-x: hidden;
    max-height: 502px;
    iframe {
      transform: rotateZ(-90deg);
      transform-origin: 49% 17% 0;
      //width: 510px;
      //height: 1450px;
    }
  }
}