@color-1: #ffffff;
@color-2: #000000;
@color-3: #023358;
@color-4: #055492;
@color-5: #37a148;

@font-1: 'Cabin','Open Sans', sans-serif;




.wizard-scc {
  .title {
    color: #06337c;
    font-family: @font-1;
    font-size: 40px;
    font-weight: 700;
    &.big {
      font-size: 150px;
    }
  }
  .text {
    color: #06337c;
    font-family: @font-1;
    font-size: 30px;
    font-weight: 400;
  }
  .wizard-wrap {
    width: 100%;

    .wizard-header {
      text-align: center;
      .logo {
        max-height: 78px;
        width: auto;
      }
    }
    .wizard-carousel {

    }
    .wizard-bottom {

    }
  }
}